* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.header {
    background-color: #0a2540;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 45px;
    margin-right: 10px;
}

.nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.nav a:hover {
    text-decoration: underline;
}


.h {
    background-color: #e6f0ff;
    text-align: center;
    padding: 80px 20px;
}

.h h2 {
    font-size: 36px;
    color: #0a2540;
}

.h p {
    margin: 15px 0;
    font-size: 18px;
}

.h button {
    padding: 12px 25px;
    background-color: #0a2540;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.h button:hover {
    background-color: #143d6b;
}


.about {
    padding: 60px 40px;
    text-align: center;
}

.about h2 {
    margin-bottom: 20px;
    color: #0a2540;
}


.services {
    background-color: #f5f5f5;
    padding: 60px 40px;
    text-align: center;
}

.service-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    background-color: rgb(246, 232, 215);
}

.service {
    background-color: rgb(195, 244, 232);
    padding: 25px;
    width: 250px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.footer {
    background-color: #0a2540;
    color: white;
    text-align: center;
    padding: 15px;
}
.head img {
    width: 80px;
    height: 60px;
    align-items: right;
    display: flex;
}
